/* styles.css */

.image-container {
    text-align: center; /* Para centrar la imagen horizontalmente */
}

#profile-image {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.custom-image {
    width: 200px;
    height: 200px;
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}

/* Puedes agregar estilos adicionales para los datos del usuario según tus necesidades */
